{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body background_image style="background-image:url({% static 'travel.jpg' %});
min-height: 380px;
background-position:center;
background-repeat: no-repeat;
background-size: cover;
position: relative;">
<h1>REGISTRATION FORM</h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="enter your username"><br>
    <input type="text" name="first_name" placeholder="enter your first_name"><br>
    <input type="text" name="last_name" placeholder="enter your last_name"><br>
    <input type="email" name="email" placeholder="enter your email"><br>
    <input type="password" name="password" placeholder="enter your password"><br>
    <input type="password" name="password1" placeholder="confirm your password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h1>{{msg}}</h1>
{% endfor %}
</body>
</html>